

<div class="main-wrapper">
  <div class="container">
    <h2 style="text-align: center;">All Pets </h2>
    <br>

    <div class="row">
      <% @pets.each do |pet| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'https://source.unsplash.com/ZRZSmK362Xw/1600x900'%>)">
          <div class="card-category"></div>
          <div class="card-description">
            <h2><%= pet.name %></h2>
            <p><%= pet.category %></p>
            <p><%= pet.breed %></p>
            <p><%= pet.gender %></p>
          </div>
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/bondichi">
          <a class="card-link" href="#" ></a>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


