<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @pet.name %></h1>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h4>Description</h4>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Category : <%= @pet.category %></th>
          </thead>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>Gender : <%= @pet.gender %></th>
          </thead>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <tbody>
          <thead>
            <th><%= render 'shared/view_pet_image' %></th>
          </thead>
        </tbody>
    </div>
  </div>
  <br>
  <%= link_to "edit", edit_pet_path, class: 'btn btn-primary btn-lg' %>
</div>

  <br>

  <%= link_to "Back to all pettos", pets_path, class: 'btn btn-danger btn' %>
