<div class="wrapper-new">
  <div class="container">
    <h3>Confirmed Booking</h3>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <table class="table table-bordered">
          <thead>
            <th class="image-row" colspan = "2"><%= cl_image_tag @booking.pet.photo, height: 300, width: 400, crop: :fill %></th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Petto Name</th>
              <td><%=@booking.pet.name%></td>
            </tr>
            <tr>
              <th scope="row">Pick up date</th>
              <td><%=@booking.start_date%></td>
            </tr>
            <tr>
              <th scope="row">Drop Off Date</th>
              <td><%=@booking.end_date%></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="redirect-all-pets">
    <%= link_to "Back to all pettos", pets_path, class: 'btn btn-warning' %>
    <%= link_to "View All Bookings", bookings_path, class: 'btn btn-success' %>
    <%= link_to "Edit this Booking", edit_booking_path, class: 'btn btn-primary' %>
  </div>
</div>

